@page "/"
@using BlazorApplication.Pages.DIalogs

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncrementAmount="10"/>

<DialogLearn title="Learn More">
    Do you want to <i>learn more</i> about Blazor?
</DialogLearn>