@page "/"
@using BlazorApplication.Pages.DIalogs

<PageTitle>Index</PageTitle>

<h1>Bless Company</h1>

Welcome!

<SurveyPrompt Title="How is BlessCompany working for us?" />

<Counter IncrementAmount="10"/>

<DialogLearn title="Learn More">
    Do you want to <i>learn more</i> about BlessCompany?
</DialogLearn>